**I import some useful libraries in python.**

In [ ]:
import json
import csv
!pip install unidecode
from unidecode import unidecode

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 6.0 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

**I mount google drive because all the files (for example .csv) that i used for the implementation of my thesis are saved on my google drive.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Reading the training and validation datasets that are in .txt file format and droping of the column of their answers ids.**

In [ ]:
import pandas as pd
train_dataset = pd.read_csv('annotated_wd_data_train_answerable.txt', sep="\t", names=['entity_id','relation_id', 'answer', 'Question']) #read train dataset
validation_dataset = pd.read_csv('annotated_wd_data_valid_answerable.txt', sep="\t", names=['entity_id','relation_id', 'answer', 'Question'])#read validation dataset
train_dataset = train_dataset.drop(labels='answer', axis=1) #drop answer
validation_dataset = validation_dataset.drop(labels='answer', axis=1) #drop answer

**I made some preprocessing for each question by creating the function preprocessing, which takes as argument the text (in this case the question) and performs accent removal, as well as punctuation mark removal (period, question mark, exclamation mark), s removal with apostrophe('s) and comma(,) removal.Finally this function, which is shown below, returns the original text with the above mentioned processing.**

In [ ]:
def Preprocessing(text):
    text = unidecode(text.replace("?", "").replace("'s", "").replace(".", "").replace("!", "").replace(",", ""))
    return text

train_dataset['Question'] = train_dataset['Question'].apply(lambda x:Preprocessing(x))
validation_dataset['Question'] = validation_dataset['Question'].apply(lambda x:Preprocessing(x))

**The SPARQLWrapper library is downloaded, which contributes to the generation of SPARQL queries, in order to find the entity labels.**

In [ ]:
#agent='WDQS-example Python'
#Chicobot-Agent
!pip install sparqlwrapper
import sys
from SPARQLWrapper import SPARQLWrapper, JSON, CSV
sparql = SPARQLWrapper("https://query.wikidata.org/sparql", agent= "WDQS-example Python/%s.%s" % (sys.version_info[0], sys.version_info[1]))

Requirement already satisfied: sparqlwrapper in /usr/local/lib/python3.10/dist-packages (2.0.0)
Requirement already satisfied: rdflib>=6.1.1 in /usr/local/lib/python3.10/dist-packages (from sparqlwrapper) (7.0.0)
Requirement already satisfied: isodate<0.7.0,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from rdflib>=6.1.1->sparqlwrapper) (0.6.1)
Requirement already satisfied: pyparsing<4,>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from rdflib>=6.1.1->sparqlwrapper) (3.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate<0.7.0,>=0.6.0->rdflib>=6.1.1->sparqlwrapper) (1.16.0)

**The function find\_divisors which receives as an argument the length of either the SimpleQuestions training or the SimpleQuestions validation dataset and returns the divisors of this number, has as aim to find the divisors of the lengths of of the full SimpleQuestions training and validation dataset, so that it is then possible to get the entity labels from SPARQL as quickly as possible.**

In [ ]:
def find_divisors(a):
    divisors = []
    for i in range(1, a + 1):
        if a % i == 0:
            divisors.append(i)
    return divisors

# Example usage
number_to_check_1 = len(train_dataset)
number_to_check_2 = len(validation_dataset)
result_1 = find_divisors(number_to_check_1)
result_2 = find_divisors(number_to_check_2)
print(f"The divisors of {number_to_check_1} are: {result_1}")
print(f"The divisors of {number_to_check_2} are: {result_2}")

The divisors of 19481 are: [1, 7, 11, 23, 77, 121, 161, 253, 847, 1771, 2783, 19481]
The divisors of 2821 are: [1, 7, 13, 31, 91, 217, 403, 2821]

**The SPARQL Queries below found from wikidata the entity labels and the entity ids for each entity id (of course for each question) of the SimpleQuestions training και validation dataset.**

In [ ]:
train_entity_names = []
train_entity_ids = []
for i in range(0,len(train_dataset),102):  #retrieve training set entities' corresponding ids
  str = ""
  for entity_id in train_dataset['entity_id'][i:i+161]:
   str = str + "wd:" + entity_id + " "
  sparql.setQuery("""
  SELECT ?item ?itemLabel
  WHERE
  {
    VALUES ?item {""" + str + """}
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
  }
""")
  sparql.setReturnFormat(JSON)
  results = sparql.query().convert()
  train_results_df = pd.json_normalize(results['results']['bindings'])
  for j in train_results_df['item.value']:
      train_entity_ids.append(j)
  for j in train_results_df['itemLabel.value']:
      train_entity_names.append(j)

In [ ]:
validation_entity_names = []
validation_entity_ids = []
for i in range(0,len(validation_dataset),157):  #retrieve validation set entity's corresponding ids
  str = ""
  for entity_id in validation_dataset['entity_id'][i:i+217]:
   str = str + "wd:" + entity_id + " "
  sparql.setQuery("""
  SELECT ?item ?itemLabel
  WHERE
  {
    VALUES ?item {""" + str + """}
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
  }
""")
  sparql.setReturnFormat(JSON)
  results = sparql.query().convert()
  validation_results_df = pd.json_normalize(results['results']['bindings'])
  for j in validation_results_df['item.value']:
      validation_entity_ids.append(j)
  for j in validation_results_df['itemLabel.value']:
      validation_entity_names.append(j)

**Creation of the corresponding lists containing the questions, the entity labels, the relation ids and the entity ids of the initial SimpleQuestions training and validation dataset, either this dataset includes answerable and answerable questions over wikidata questions or only answerable questions over wikidata.**

In [ ]:
train_dataset_questions = train_dataset['Question'].to_list()
validation_dataset_questions = validation_dataset['Question'].to_list()
train_dataset_entity_ids = train_dataset['entity_id'].to_list()
validation_dataset_entity_ids = validation_dataset['entity_id'].to_list()

**The entity ids that are occurred from SPARQL are expressions that contain an encoded name, for example for the question of the SimpleQuestions (full) training dataset "who is a musician born in detroit", the entity id that occurred is https://www.wikidata.org/wiki/Q12439, which is related with Detroit (Q12439, if i search in wikidata).**

**So the python function entity\_ids is created with the aim to split the full expression with the entity id, such as the example above and to keep the encoded name, i.e named start from "Q" ("Q12439" in the above example).**

In [ ]:
#Split Spaqrl URI's in order to get the entity ids
import os
def enitity_ids(ids): #get ids from sparql query ids
 entity_ids = []
 for i in range(len(ids)):
   entity_ids.append(ids[i].split(os.path.sep)[-1])
 return entity_ids
train_ids = enitity_ids(train_entity_ids)
print(len(train_dataset['entity_id']))
print(len(train_ids))
validation_ids = enitity_ids(validation_entity_ids)
print(len(validation_dataset['entity_id']))
print(len(validation_ids))

19481
31315
2821
3993

**The function labels from which i confirm the entity id of each question, which occurred from SPARQL, through the entity id obtained for each question from the transfer of SimpleQuestions from Freebase to Wikidata. This function takes as arguments the list of questions, the list of the entity ids both from the corresponding SimpleQuestions dataset column and from the entity\_ids function and the list of entity labels occured from SPARQL.**

**Essentially i assigned to each question and entity id its corresponding entity label by searching in the list of training and validation entity ids obtained from SPARQL. If any of these entity ids exist in the SimpleQuestions training and validation entity labels lists, that are created before and matching the entity label and thus a new column with entity labels for the training and the validation dataset.**

In [ ]:
import operator as op
def labels(questions, entity_id_dataset, entity_ids, entity_names):# entity_ids and dataset must have the same length
#In this step we find the entity ids from the initial dataset to the list occured from Sparql Query
#for each of the train and validation dataset.
#This will become the train or validation data new column, containing entities' labels

  label_df_column = []
  for entity_id in entity_id_dataset:
   j=0
   for ent in entity_ids: #find its id on list
    if entity_id == ent:
      label_df_column.append(entity_names[j]) #and find corresponding label
      break
    j += 1
  return label_df_column


train_dataset['entity_label'] = labels(train_dataset_questions, train_dataset_entity_ids, train_ids, train_entity_names)
validation_dataset['entity_label'] = labels(validation_dataset_questions, validation_dataset_entity_ids ,validation_ids, validation_entity_names)
print(train_dataset['entity_label'], len(train_dataset['entity_label']))
print(validation_dataset['entity_label'], len(validation_dataset['entity_label']))

0                 Detroit
1             Mera Shikar
2                 Chicago
3              midfielder
4           Mike Twellman
               ...
19476      mountain tapir
19477      superhero film
19478         comedy film
19479      Anthony Bailey
19480    Gastón Filgueira
Name: entity_label, Length: 19481, dtype: object 19481
0                Sasha Vujačić
1            Wiebke Carolsfeld
2       Seymour Parker Gilbert
3             Antoine de Févin
4                Jamie Hewlett
                 ...
2816              OutNumbered!
2817            Seumas O'Kelly
2818            Herby Fortunat
2819         Nikolaj Frobenius
2820                 São Paulo
Name: entity_label, Length: 2821, dtype: object 2821

**The preprocessing of the entity labels column occurred from labels function is made through function Preprocessing that is created previously. The reindexing of the columns (entity id, relation id, questions, entity label) of the initial SimpleQuestions dataset (either full or the dataset containing only questions that are answerable over wikidata),in order to include the entity labels as a new column in the initial SimpleQuestions dataset, is achieved by using the reindex() method from pandas.**

In [ ]:
train_dataset['entity_label'] = train_dataset['entity_label'].apply(lambda x:Preprocessing(x))
validation_dataset['entity_label'] = validation_dataset['entity_label'].apply(lambda x:Preprocessing(x))
new_columns = ["entity_id","entity_label","relation_id","Question"]
train_dataset = train_dataset.reindex(columns=new_columns)
validation_dataset = validation_dataset.reindex(columns=new_columns)
print(train_dataset)
print(validation_dataset)

       entity_id      entity_label relation_id  \
0         Q12439           Detroit         R19
1       Q6817891       Mera Shikar        P364
2          Q1297           Chicago        R276
3        Q193592        midfielder        R413
4       Q6849115     Mike Twellman        P413
...          ...               ...         ...
19476    Q223960    mountain tapir        P171
19477   Q1535153    superhero film        R136
19478    Q157443       comedy film        R136
19479  Q16093542    Anthony Bailey         P27
19480    Q926822  Gaston Filgueira         P21

                                                Question
0                      who is a musician born in detroit
1      what is the language in which mera shikar was ...
2      Whats the name of a battle that happened in ch...
3              what player plays the position midfielder
4         what is the position that  mike twellman plays
...                                                  ...
19476  what classification does  mountain tapir come ...
19477   What a superhero movie that premiered on toonami
19478  What is the name of a comedy film that is also...
19479          What is the nationality of anthony bailey
19480                    What gender is gaston filgueira

[19481 rows x 4 columns]
     entity_id            entity_label relation_id  \
0      Q318926           Sasha Vujacic         P19
1     Q2568216       Wiebke Carolsfeld         R57
2     Q2275923  Seymour Parker Gilbert        P106
3     Q2856873        Antoine de Fevin         P20
4      Q522966           Jamie Hewlett        P106
...        ...                     ...         ...
2816  Q7111404             OutNumbered        P178
2817  Q3480757          Seumas O'Kelly         P21
2818  Q3709870          Herby Fortunat        P413
2819  Q2981169       Nikolaj Frobenius        P106
2820      Q174               Sao Paulo         R19

                                               Question
0                          where was sasha vujacic born
1          What is a film directed by wiebke carolsfeld
2            What was Seymour Parker Gilbert profession
3         in what french city did antoine de fevin die
4                      What job does jamie hewlett have
...                                                 ...
2816                          who developed outnumbered
2817                  what is the sex of seumas o'kelly
2818  which position did herby fortunat play in foot...
2819               What is nikolaj frobenius profession
2820         who is a person that was born in sao paulo

[2821 rows x 4 columns]

**Creation of the corresponding .csv files for the SimpleQuestions training and validation dataset respectively through pandas method to_csv().**

In [ ]:
import csv
# Specify the file name
train_csv_name = "drive/MyDrive/train_answerable_questions_dataset.csv"
# Writing to CSV file
train_dataset.to_csv(train_csv_name, index=False)

print(train_dataset)

       entity_id      entity_label relation_id  \
0         Q12439           Detroit         R19
1       Q6817891       Mera Shikar        P364
2          Q1297           Chicago        R276
3        Q193592        midfielder        R413
4       Q6849115     Mike Twellman        P413
...          ...               ...         ...
19476    Q223960    mountain tapir        P171
19477   Q1535153    superhero film        R136
19478    Q157443       comedy film        R136
19479  Q16093542    Anthony Bailey         P27
19480    Q926822  Gaston Filgueira         P21

                                                Question
0                      who is a musician born in detroit
1      what is the language in which mera shikar was ...
2      Whats the name of a battle that happened in ch...
3              what player plays the position midfielder
4         what is the position that  mike twellman plays
...                                                  ...
19476  what classification does  mountain tapir come ...
19477   What a superhero movie that premiered on toonami
19478  What is the name of a comedy film that is also...
19479          What is the nationality of anthony bailey
19480                    What gender is gaston filgueira

[19481 rows x 4 columns]

In [ ]:
valid_csv_name = "drive/MyDrive/valid_answerable_questions_dataset.csv"
validation_dataset.to_csv(valid_csv_name, index=False)


print(validation_dataset)

     entity_id            entity_label relation_id  \
0      Q318926           Sasha Vujacic         P19
1     Q2568216       Wiebke Carolsfeld         R57
2     Q2275923  Seymour Parker Gilbert        P106
3     Q2856873        Antoine de Fevin         P20
4      Q522966           Jamie Hewlett        P106
...        ...                     ...         ...
2816  Q7111404             OutNumbered        P178
2817  Q3480757          Seumas O'Kelly         P21
2818  Q3709870          Herby Fortunat        P413
2819  Q2981169       Nikolaj Frobenius        P106
2820      Q174               Sao Paulo         R19

                                               Question
0                          where was sasha vujacic born
1          What is a film directed by wiebke carolsfeld
2            What was Seymour Parker Gilbert profession
3         in what french city did antoine de fevin die
4                      What job does jamie hewlett have
...                                                 ...
2816                          who developed outnumbered
2817                  what is the sex of seumas o'kelly
2818  which position did herby fortunat play in foot...
2819               What is nikolaj frobenius profession
2820         who is a person that was born in sao paulo

[2821 rows x 4 columns]